body{
    //font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15pt;
    text-align: center;
    margin: 6px;
    background-color: lightgray;
}

h1, h2{
    font-family: 'Georgia', 'Times New Roman', serif;
}

#container_title_logo{
    background-color: lightskyblue;
    height: 275px;
    //padding-bottom: 58px;
}

#title_logo{
    text-align: center;
    background-color: bisque;
    border: 4px solid darkblue;
    h1{
        display: inline;
        position: relative;
        bottom: 85px;
        color: darkgreen;
    }
    img{
        width: 200px;
    }

    .imgCplus{
        position: relative;
        right: 350px;
    }

    .imgJava{
        position: relative;
        left: 350px;
    }
}

.container_links{
    position: relative;
    bottom: 40px;

    a{
        text-decoration: none;
        margin: 0 50px; 
        text-transform: uppercase;
        color: darkred;
        font-weight: bold;
    }
}

.container_intro{
    position: relative;
    bottom: 20px;

    h2{
        margin-bottom: 30px;
    }

    p{
        font-size: 20pt;
        color: indigo;
        font-family: "Sans-serif";
    }
}

.container_books{
    img{
        width: 250px;
        height: 350px;
        margin: 0 50px;
        padding-top: 30px;
    }
}

.container_iframes{
    margin-top: 60px;

    iframe{
        padding-top: 15px;
        width: 350px;
        height: 300px;
        margin: 0 35px;
    }
}

.container_contacts{
    margin: 70px auto 70px auto;
    width: 100%;
    table{
        margin: 28px auto 0 auto;
        border: 4px dashed red;
    }

    th{
        color: red;
    }

    th, td{
        border: 2px solid red;
        padding: 10px 20px;
    }
}

#links_utils{
    width: 700px;
    margin: 0 auto;
    text-align: left;
    background-color: yellow;
    ul{
        position: relative;
        left: 10px;
        padding-bottom: 10px;
    }
    p{
        margin-bottom: 30px;
    }

    a{
        position: relative;
        left: 110px;
        text-decoration: none;
        font-weight: bold;
        color: darkred;
    }
}

#container_footer{
    margin-top: 40px;
    background-color: bisque;
    padding-top: 10px;
    p{
        display: inline;
        position: relative;
        bottom: 85px;
        font-size: 15pt;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

    img{
        width: 200px;
        height: 200px;
        position: relative;
        right: 285px;
    }

    #logo_css{
        width: 150px;
        height: 200px;
        position: relative;
        left: 260px;
    }
}