*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image-gallery {
    width: 250px;
    height: auto;
    border-radius: 10px;
    
}